a {
  text-decoration:none;
}

body {
  font-family: 'Castoro', serif;
}

footer {
  height: 353px;
  background-color: #aa0601;
  margin-top: 80px;
  padding-top: 48px;
  box-sizing: border-box;
}

header {
  background-color: #AA0601;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

section {
  margin-top: 96px;
}

.header-area {
  height: 80px;
  display: flex;
  align-items: center;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.contact-number-area {
  display: flex;
  margin-top: 24px;
  font-size: 36px;
  line-height: 54px;
}

.contact-number-icon, .email-icon {
  margin-right: 22px;
  color: #fff;
}

.email-area {
  display: flex;
  font-size: 36px;
  line-height: 54px;
}

.footer-bottom-menus {
  width: 174px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
}

.logo-new {
  width: 80px;
  height: 49px;
}

.menus {
  display: flex;
  flex-wrap: wrap;
  width: 512px;
  margin-left: auto;
}

.menu {
  width: 80px;
  margin-right: 64px;
}

.menu:last-child {
  margin-right: 0;
}

.align-items-center {
  align-items: center;
}

.d-flex {
  display: flex;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-20 {
  font-size: 20px;
}

.footer-bottom {
  display: flex;
  margin-top: 32px;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
}

.footer-menu {
  display: block;
}

.fw-bold {
  font-weight: 700;
}

.line-height-24 {
  line-height: 24px;
}

.line-height-30 {
  line-height: 30px;
}

.me-auto {
  margin-left: auto;
}

.mt-8 {
  margin-top: 8px;
}

.mt-32 {
  margin-top: 32px;
}

.ms-32 {
  margin-right: 32px;
}

.ms-40 {
  margin-right: 40px;
}

.section-title {
  font-size: 48px;
  line-height: 72px;
  font-weight: 700;
  padding-left: 16px;
  border-left: 1px solid #dee2e6;
  border-color: red;
  border-width: 5px;
}

.section-question-title {
  margin-top: 32px;
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
}

.section-question {
  margin-top: 32px;
}

.section-question-first-child {
  margin-top: 24px;
}

.text-white {
  color: #fff;
}

.w-64 {
  width: 64px;
}

.h-48 {
  height: 48px;
}

@media(max-width: 1296px) {
  .container {
    margin-left: 36px;
    margin-right: 36px;
  }
}

@media(max-width: 768px){
  section {
    margin-top: 80px;
  }

  .container {
    max-width: 696px;
  }
}

@media(max-width: 696px){
  .header-area {
    height: auto;
  }
  
  footer {
    margin-top: 64px;
    padding-top: 24px;
  }

  .container {
    margin: 0 13px;
  }

  .container.header-area {
    display: block;
    margin: 0;
    padding-top: 8px;
  }

  .contact-number-area {
    font-size: 24px;
    line-height: 36px;
    margin-top: 0;
  }
  
  .email-area {
    font-size: 24px;
    line-height: 36px;
  }

  .footer-bottom {
    display: block;
  }

  .footer-bottom-menus {
    width: auto;
    display: block;
  }
  
  .footer-menu {
    display: none;
  }

  .logo-new {
    width: 80px;
    height: 49px;
    margin: 16px auto 11px 15px;
  }

  .menus {
    width: auto;
  }

  .menu {
    width: 50%;
    height: 48px;
    line-height: 48px;
    margin: 0;
    text-align: center;
    border: 1px solid #fff;
    box-sizing: border-box;
  }

}

@media(max-width: 499px){
  .contact-number-area {
    font-size: 16px;
    line-height: 24px;
  }
  
  .email-area {
    font-size: 16px;
    line-height: 24px;
  }
}